/* Project information - Modules, Param, Run, Result page */
.project-information {
  border: 1px solid var(--gray);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 0em 1em;
  display: flex;
  align-items: center;
}

.project-information-btn {
  max-width: calc(100% / 2 - 1em);
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project-information-btn.project-info-btn-protein {
  cursor: default;
}

.project-information-btn:hover svg path {
  fill: var(--main);
  transition: 0.3s;
}

.project-information-btn:hover p {
  color: var(--dark);
  transition: 0.3s;
}

.project-information-btn svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.project-information-btn>p {
  padding-left: 0.5em;
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

.project-information-btn.project-info-btn-protein>p {
  text-transform: uppercase;
}

.project-information-btn.project-info-btn-protein:hover svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.project-information-btn.project-info-btn-protein:hover p {
  color: rgba(0, 0, 0, 0.5);
}

@media(max-width:600px) {
  .project-information {
    flex-direction: column;
    padding: 0em 0.5em;
  }

  .project-information-btn {
    min-width: 100%;
    max-width: 100%;
  }

  .project-information-btn>p {
    border-right: none;
    width: calc(100% - 50px);
    text-align: left;
  }
}
