div.control-msgbox div.popup-btn button {
  width: calc(100% / 2 - 10px);
}

div.control-msgbox div.popup-btn button.popup-btn-no {
  border: 1px solid var(--dark);
  background: transparent;
}

div.control-msgbox div.popup-btn button.popup-btn-no:hover {
  background: var(--dark);
  color: white;
}