.pdf-file-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  margin : 1em 0;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
.pdf-file-container{
  margin : 1em;
  border-radius : 1em;
  border-radius: 1em;
}
.pdf-control{
  display: flex;
  flex-direction: row wrap;
  align-items : center;
  padding: 1rem;
}
.pdf-control > *{
  margin : 0px 1em;
}
.pdf-control p{
  font-size: 1rem;
  color : white;
}
.pdf-control button{
  background-color: var(--gradi1);
  width : 2em;
}

.pdf-control button:hover{
  color : white;
}
