.socket-timer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.socket-timer div,
.socket-timer p {
  color: white;
}

.socket-timer .socket-timer-title {
  margin-right: 10px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.socket-timer .socket-timer-title svg {
  margin-right: 5px;
}

.socket-timer-title svg path {
  fill: white;
}

.socket-timer-content>div {
  display: flex;
  align-items: center;
}

.socket-timer-content>div p {
  margin-right: 5px;
  color: var(--main);
  font-family: 'Exo';
}

.socket-timer-content>div p.hide {
  display: none;
}