.show-more-socket-message>button {
    border: 1px solid var(--main);
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    margin: 0px auto;
    margin-bottom: 10px;
    color: var(--main);
    font-size: 15px;
}